/* html{
    height: 100%;
    margin: auto;
    width: 100%;
    overflow-y: scroll;
} */

:root{
    /* E50914 */
    --primary: #BD0600;
    --secondary: #E50914;
    --lightbutton: rgba(229, 9, 20, 0.05);
    --lightshadow: inset 0 0 0 0.12rem rgba(229, 9, 20, 0.25);
    --light: #ffffff;
    --grey: #efefef;
    --lightdisabled: rgba(128, 128, 128, 0.25)
}

body{
    overflow: hidden;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Nunito Sans', sans-serif;
}
select option:hover{
    background-color: var(--secondary) !important;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

#side-left-container{
    background-color: var(--primary) !important;
    color: white;
    min-height: 100vh !important;
    max-height: 100vh !important;
}

#side-left-container .line{
    width: 12rem;
    opacity: 0.40;
}

#side-left-container .menu{
    width: 14rem;
}

#side-left-container .menu a span{
    opacity: 0.60;
    transition: all 400ms;
}

#side-left-container .menu a i{
    opacity: 0.50;
    transition: all 300ms;
}

#side-left-container .menu a:hover i{
    opacity: 1;
}

#side-left-container .menu a:hover span{
    opacity: 1;
}

.sel{
    opacity: 1 !important;
}

/* #side-left-container .menu a i:hover{
    opacity: 0.60;
} */

/* #side-left-container .menu a:hover ~ #prueba{
    opacity: 1;
} */
#side-right-container{
    width: 100%;
    background-color: var(--grey);
    overflow-y: scroll;
    height: 100vh;
}

#side-right-container #search-container{
    margin-left: 14rem;
    background-color: var(--light);
    height: 4.375rem;
}

.input-not-active{

}

#content-div{
    margin-top: 4.5rem;
}

/* #search-container .d-flex select{
    width: 10rem;
    background-color: #f8f2f2;
    border: none;
    transition: all 300ms;
} */

#search-container #select-container{
    width: 18rem;
}

#search-container #search-input-container{
    width: 16rem;
}

#search-container #select-container label{
    border: none;
    background-color: var(--secondary);
    color: white;
}

#search-container #select-container select{
    border: none;
    transition: all 300ms;
    color: #6C757D;
    background-color: var(--lightbutton);
}

.inside-focus:focus{
    border-color: var(--secondary);
    box-shadow: var(--lightshadow);
}

#search-input-container div button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--secondary);
    border: none;
    transition: all 300ms;
}

#search-input-container div button:hover{
    background-color: var(--primary);
}

#search-input-container div button:focus{
    box-shadow: none;
}

#search-input-container input{
    background-color: rgba(229, 9, 20, 0.05);
    color: #6C757D;
    transition: all 300ms;
}

.card-header{
    background-color: var(--secondary);
    color: white;
}


#table-container{
    width: 80%;
}
#tablita{
    margin-bottom: 23px !important;
}
table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after {
    display: none;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    display: none;
}
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    display: none;
}
#tablita_length label select:focus{
    box-shadow: none;
}
#tablita_filter{
    display: none;
}
#tablita_paginate .pagination ul li a:focus{
    box-shadow: none !important;
}
#tablita_paginate .pagination .page-item.active .page-link{
    box-shadow: none !important;
}
.page-item:first-child .page-link:focus {
    box-shadow: none !important;
}
.page-item:last-child .page-link {
    box-shadow: none !important;
}
.page-item:not(:first-child) .page-link:focus {
    box-shadow: none !important;
}
.page-item a {
    color: var(--primary);
}
.page-item a:hover{
    color: var(--primary);
}
.page-item.active .page-link {
    background-color: var(--secondary) !important;
    border-color: var(--primary) !important;
    color: white !important;
}
.disabled a{
    color: #6c757d !important;
}

.error-card{
    width: 40%;
    margin-right: auto !important;
    margin-left: auto !important;
}
.error-card i{
    color: var(--secondary);
}
.error-card div h5{
    color: var(--secondary);
}
#loading-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}
.statistics-card{
    /* width: 60%; */
}
.card-body h5{
    color: var(--primary);
}