{% extends 'layout.html' %}

{% block extralinks %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.24/datatables.min.css"/>
{% endblock %}

{% block options %}
<a href="{% url 'movies' 0 %}" class="d-flex align-items-center text-light p-3">
    <i class="bi bi-camera-video-fill me-2 sel"></i><span class="fs-6 ms-1 sel">Custom search</span>
</a>
<a href="{% url 'statistics' %}" class="d-flex align-items-center text-light p-3">
    <i class="bi bi-bar-chart-fill me-2"></i><span class="fs-6 ms-1">Statistics</span>
</a>
{% endblock %}

{% block topbar %}
<form class="d-flex" style="width: 100%;" action="" method="GET">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div style="" class="d-flex justify-content-evenly">
                    <div id="select-container" class="d-flex input-group">
                        <label class="input-group-text" for="search-fields">Search category</label>
                        <select class="form-select inside-focus" name="search-fields" id="search-fields">
                            <option value="Choose one...">Choose one...</option>
                            <option value="Movie name">Movie name</option>
                            <option value="Actor">Actor</option>
                            <option value="TV show">TV show</option>
                        </select>
                    </div>
                    <div id="search-input-container" class="input-group">
                        <input required type="text" id="search-input" name="search-input" class="form-control border-0 small inside-focus" placeholder="Search...">
                        <div class="input-group-append">
                            <button id="search-but" class="btn btn-primary" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div style="height: 100%;" class="justify-content-end d-flex align-items-center">
                    <a class="align-middle d-flex align-items-center justify-content-center rounded" style="background-color: var(--secondary); height: 100%; width: 2.3rem; margin-right: 1rem;" href="{% url 'movies' 0 %}"><i style="color: white; text-align: center; font-size: 1.2rem;" class="bi bi-house-door"></i></a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
{% load static %}
    {% if movies %}
        {% if category == "Choose one..." or category == Null %}
            {% if all is True %}
            <div class="card mx-4 my-4 border-0 shadow-sm">
                <h5 class="card-header">Netflix Content</h5>
                <div class="card-body">
                    <h5 class="card-title">Showing All Content</h5>
                    <p class="card-text">You are now viewing Kaggle's Netflix database.</p>
                    <div class="mx-auto">
                        <table id="tablita" class="table">
                            <thead>
                                <tr class="rounded-top">
                                    <th>Title</th>
                                    <th>Director</th>
                                    <th>Cast</th>
                                    <th>Countries</th>
                                    <th>Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for movie in movies %}
                                <tr>
                                    <td class=''>{{movie.title}}</td>
                                    <td class=''>{{movie.director}}</td>
                                    <td class=''>{{movie.cast}}</td>
                                    <td class=''>{{movie.country}}</td>
                                    <td class=''>{{movie.release_year}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            {% else %}
              <div class="shadow rounded-3 d-flex mx-auto" style="max-width: 98%; height: calc(100vh - 8rem); margin-top: 2.5%;">
                  <div class="">
                    <img class="shadow" style="width: 100%; height: 100%;" src="{% static 'images/netflix.png' %}" alt="">
                  </div>
                  <div class="">
                    <div class="card-body">
                      <h5 class="card-title fs-2 mb-3">Welcome to Movies DB!</h5>
                      <p class="card-text fs-5 mb-5">Here you will find Netflix movies and TV Shows data from Kaggle's database. Feel free to search specific data with the <span class="fw-bold">upper search section</span>. </p>
                      <a id="all-movies" class="card-text mt-5" href="{% url 'movies' 1 %}"><small class="text-muted fs-5">Click to get all data without searching.</small></a>
                    </div>
                  </div>
              </div>
              {% endif %}
        
        {% elif category == "Movie name" %}
            <div class="card mx-4 my-4 border-0 shadow-sm">
                <h5 class="card-header">Movies</h5>
                <div class="card-body">
                    <h5 class="card-title">Showing Movies with title "{{searched_input}}" </h5>
                    <p class="card-text">You are now viewing every Movie with title "{{searched_input}}" stored in Kaggle's Netflix database.</p>
                    <div class="mx-auto">
                        <table id="tablita" class="table">
                            <thead>
                                <tr class="rounded-top">
                                    <th>Title</th>
                                    <th>Director</th>
                                    <th>Cast</th>
                                    <th>Countries</th>
                                    <th>Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for movie in movies %}
                                <tr>
                                    <td class=''>{{movie.title}}</td>
                                    <td class=''>{{movie.director}}</td>
                                    <td class=''>{{movie.cast}}</td>
                                    <td class=''>{{movie.country}}</td>
                                    <td class=''>{{movie.release_year}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {% elif category == "Actor" %}
            <div class="card mx-4 my-4 border-0 shadow-sm">
                <h5 class="card-header">Movies</h5>
                <div class="card-body">
                    <h5 class="card-title">Showing {{searched_input}}'s Movies</h5>
                    <p class="card-text">You are now viewing every movie where {{searched_input}} has been part of the cast in Kaggle's Netflix database.</p>
                    <div class="mx-auto">
                        <table id="tablita" class="table">
                            <thead>
                                <tr class="rounded-top">
                                    <th>Actor</th>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>Cast</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for movie in movies %}
                                <tr>
                                    <td class=''>{{searched_input}}</td>
                                    <td class=''>{{movie.type}}</td>
                                    <td class=''>{{movie.title}}</td>
                                    <td class=''>{{movie.cast}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

    {% elif category == "Actor" %}
        <div class="card my-4 border-0 shadow-sm error-card">
            <h5 class="card-header">Movies</h5>
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-eye-slash-fill me-2"></i>No match for: {{searched_input}}</h5>
                <p class="card-text">There are no movies with {{searched_input}} as part of the cast in Kaggle's Netflix database.</p>
            </div>
        </div>

    {% elif not movies and category != "TV show" %}
        <div class="card my-4 border-0 shadow-sm error-card">
            <h5 class="card-header">Movies</h5>
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-eye-slash-fill me-2"></i>No match for: {{searched_input}}</h5>
                <p class="card-text">There are no Movies with {{searched_input}} as part of the cast in Kaggle's Netflix database.</p>
            </div>
        </div>
    {% endif %}

    {% if shows %}
        {% if category == "Actor" %}
            <div class="card mx-4 my-4 border-0 shadow-sm">
                <h5 class="card-header">TV Shows</h5>
                <div class="card-body">
                    <h5 class="card-title">Showing {{searched_input}}'s TV Shows</h5>
                    <p class="card-text">You are now viewing every TV Show where {{searched_input}} has been part of the cast in Kaggle's Netflix database.</p>
                    <div class="mx-auto">
                        <table id="tablita" class="table">
                            <thead>
                                <tr class="rounded-top">
                                    <th>Actor</th>
                                    <th>Type</th>
                                    <th>Tilte</th>
                                    <th>Cast</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for show in shows %}
                                <tr>
                                    <td class=''>{{searched_input}}</td>
                                    <td class=''>{{show.type}}</td>
                                    <td class=''>{{show.title}}</td>
                                    <td class=''>{{show.cast}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {% elif category == "TV show" %}
            <div class="card mx-4 my-4 border-0 shadow-sm">
                <h5 class="card-header">TV Shows</h5>
                <div class="card-body">
                    <h5 class="card-title">Showing TV Shows with title "{{searched_input}}" </h5>
                    <p class="card-text">You are now viewing every TV Show with title "{{searched_input}}" stored in Kaggle's Netflix database.</p>
                    <div class="mx-auto">
                        <table id="tablita" class="table">
                            <thead>
                                <tr class="rounded-top">
                                    <th>Title</th>
                                    <th>Director</th>
                                    <th>Cast</th>
                                    <th>Countries</th>
                                    <th>Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for show in shows %}
                                <tr>
                                    <td class=''>{{show.title}}</td>
                                    <td class=''>{{show.director}}</td>
                                    <td class=''>{{show.cast}}</td>
                                    <td class=''>{{show.country}}</td>
                                    <td class=''>{{show.release_year}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

    {% elif category == "Actor" %}
        <div class="card my-4 border-0 shadow-sm error-card">
        <h5 class="card-header">TV Shows</h5>
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-eye-slash-fill me-2"></i>No match for: {{searched_input}}</h5>
                <p class="card-text">There are no TV Shows with {{searched_input}} as part of the cast in Kaggle's Netflix database.</p>
            </div>
        </div>

    {% elif not shows %}
        {% if category != "Movie name" and category != None %}
        <div class="card my-4 border-0 shadow-sm error-card">
            <h5 class="card-header">TV Shows</h5>
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-eye-slash-fill me-2"></i>No match for: {{searched_input}}</h5>
                    <p class="card-text">There are no TV Shows with {{searched_input}} as part of the cast in Kaggle's Netflix database.</p>
                </div>
        </div>
        {% endif %}
    {% endif %}


{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="{% static 'js/mainscript.js' %}"></script>
<script type="text/javascript">

        $('#tablita').DataTable();

</script>
{% endblock %}