{% extends 'layout.html' %}

{% block extralinks %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block options %}
<a href="{% url 'movies' 0 %}" class="d-flex align-items-center text-light p-3">
    <i class="bi bi-camera-video-fill me-2"></i><span class="fs-6 ms-1">Custom search</span>
</a>
<a href="{% url 'statistics' %}" class="d-flex align-items-center text-light p-3">
    <i class="bi bi-bar-chart-fill me-2 sel"></i><span class="fs-6 ms-1 sel">Statistics</span>
</a>
{% endblock %}

{% block topbar %}
<form class="d-flex" style="width: 100%;" action="" method="GET">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="d-flex justify-content-evenly">
                    <div id="select-container" class="d-flex input-group">
                        <label class="input-group-text" for="search-fields">Search category</label>
                        <select class="form-select inside-focus" name="search-fields" id="search-fields">
                            <option value="Choose one...">Choose one...</option>
                            <option value="Country">Country</option>
                            <option value="Release year">Release year</option>
                        </select>
                    </div>
                    <div id="search-input-container" class="input-group">
                        <input required type="text" id="search-input" name="search-input" class="form-control border-0 small inside-focus" placeholder="Search...">
                        <div class="input-group-append">
                            <button id="search-but" class="btn btn-primary" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div style="height: 100%;" class="justify-content-end d-flex align-items-center">
                    <a class="align-middle d-flex align-items-center justify-content-center rounded" style="background-color: var(--secondary); height: 100%; width: 2.3rem; margin-right: 1rem;" href="{% url 'movies' 0 %}"><i style="color: white; text-align: center; font-size: 1.2rem;" class="bi bi-house-door"></i></a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
    {% if validar %}
        {% if category == "Choose one..." or searched_input is None %}
            <div class="card statistics-card card mx-auto my-4 border-0 shadow-sm">
                <h5 class="card-header"><i class="me-2 bi bi-file-bar-graph"></i>Netflix Content</h5>
                <div class="card-body d-flex flex-row">
                    <div>
                        <h3 class="card-title">Movies vs TV Shows</h3>
                        <p class="card-text fs-5 mt-3">Kaggle's Netflix database data:</p>
                        <span class="fs-5">- {{l1}} : {{n1}}</span><br>
                        <span class="fs-5">- {{l2}} : {{n2}}</span>
                    <hr style = "height : 2px;color:var(--primary)">
                    </div>
                    <div style="width: 23.5rem;" class="ms-5">
                    <canvas height="" width="" class="mt-3" id="myChart" ></canvas>
                    </div>
                </div>
            </div>

        {% elif category == "Country" %}
            <div class="card statistics-card card mx-auto my-4 border-0 shadow-sm">
                <h5 class="card-header"><i class="me-2 bi bi-file-bar-graph"></i>Movies of a given country</h5>
                <div class="card-body d-flex flex-row">
                    <div>
                        <h3 class="card-title">Movies in: {{searched_input}}</h3>
                        <p class="card-text fs-5 mt-3">Kaggle's Netflix database data:</p>
                        <span class="fs-5">- {{l1}} : {{n1}}</span><br>
                        <span class="fs-5">- {{l2}} : {{n2}}</span>
                    <hr style = "height : 2px;color:var(--primary)">
                    </div>
                    <div style="width: 23.5rem;" class="ms-5">
                    <canvas height="" width="" class="mt-3" id="myChart" ></canvas>
                    </div>
                </div>
            </div>

        {% elif category == "Release year" %}
            <div class="card statistics-card card mx-auto my-4 border-0 shadow-sm">
                <h5 class="card-header"><i class="me-2 bi bi-file-bar-graph"></i>TV Shows of a given year </h5>
                <div class="card-body d-flex flex-row">
                    <div>
                        <h3 class="card-title">TV Shows of: {{searched_input}}</h3>
                        <p class="card-text fs-5 mt-3">Kaggle's Netflix database data:</p>
                        <span class="fs-5">- {{l1}} : {{n1}}</span><br>
                        <span class="fs-5">- {{l2}} : {{n2}}</span>
                    <hr style = "height : 2px;color:var(--primary)">
                    </div>
                    <div style="width: 23.5rem;" class="ms-5">
                    <canvas height="" width="" class="mt-3" id="myChart" ></canvas>
                    </div>
                </div>
            </div>
        {% endif %}
        
    {% elif not validar %}
        {% if category == "Country" %}
            <div class="card my-4 border-0 shadow-sm error-card">
            <h5 class="card-header">Movies of a given country</h5>
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-eye-slash-fill me-2"></i>No match for: {{searched_input}}</h5>
                    <p class="card-text">There are no Movies in the country {{searched_input}} in Kaggle's Netflix database.</p>
                </div>
            </div>
        {% elif category == "Release year" %}
            <div class="card my-4 border-0 shadow-sm error-card">
            <h5 class="card-header">TV Shows of a given year</h5>
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-eye-slash-fill me-2"></i>No match for: {{searched_input}}</h5>
                    <p class="card-text">There are no TV shows released in {{searched_input}} in Kaggle's Netflix database.</p>
                </div>
            </div>
        {% endif %}
    {% endif %}


{% endblock %}

{% block extrajs %}
{% load static %}
<script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script>
<script src="{% static 'js/mainscript.js' %}"></script>
<script type="text/javascript">
    console.log('{{validar}}')
    console.log('{{n1}}')
    console.log('{{searched_input}}')
    var n1 = parseInt("{{n1}}", 10);
    var n2 = parseInt("{{n2}}", 10);
    const data = {
            labels: [
                '{{l1}}',
                '{{l2}}',
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [n1, n2],
                backgroundColor: [
                'rgb(229, 9, 20)',
                'rgb(117, 5, 10)'
                ],
                hoverOffset: 4
            }]
    };
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
    });
</script>
{% endblock %}